<%- include('partials/dbheader') %>



<div class="activity">
    <h1 class="heading"> Booking Acitivity</h1>


    <div class="row row-main">

        <div class="col">
            <h3 class="sub"> Booking Time</h3>
            <% userObj.bookings_time.forEach(function(activity) { %>
            <div class="row">
                <%=  activity.toLocaleString() %>
            </div>
            <% }) %>
        </div>

        <div class="col">
            <h3 class="sub"> Booking City</h3>
            <% userObj.bookings_city.forEach(function(activity) { %>
            <div class="row">
                <%=  activity %>
            </div>
            <% }) %>
        </div>

        <div class="col">
            <h3 class="sub"> Booking Destination</h3>
            <% userObj.bookings_dest.forEach(function(activity) { %>
            <div class="row">
                <%=  activity %>
            </div>
            <% }) %>
        </div>
        <div class="col">
            <h3 class="sub"> Booking Start</h3>
            <% userObj.bookings_in.forEach(function(activity) { %>
            <div class="row">
                <%=  activity %>
            </div>
            <% }) %>
        </div>

        <div class="col">
            <h3 class="sub"> Booking End</h3>
            <% userObj.bookings_out.forEach(function(activity) { %>
            <div class="row">
                <%=  activity %>
            </div>
            <% }) %>
        </div>

        



    </div>
</div>





<%- include('partials/footer') %>